.estimgu {
    background-color: darkblue; 
    padding: 20px;
}

.fusion-standar-logo{
    width: 169px;
    height: 65px;
}

.espacio{
    height: 50px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4b2863;
  color: white;
}

.divtablacarreras {
    padding: 0px 50px 0px 50px;
}

.espacioboton {
    padding: 30px;
}