{% extends 'base.html' %}

{% block title %} Lista de Programas {% endblock %}

{% block content %} 
    <h1>Listado Programas de Universitaria de Colombia</h1>    
    <br>
    <div class="espacioboton">
    <a href="/programas" class="btn btn-primary">Crear</a>
    </div>
    <br>
    <div class="divtablacarreras">
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Carrera</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in carreras %}
                <tr>
                    <td>{{ registro.0 }}</td>
                    <td>{{ registro.1 }}</td>
                    <td><a href="/eliminar/{{registro.0}}" class="btn btn-danger btn-sm">Eliminar</a></td>
                    <td><a href="/actualizar/{{registro.0}}" class="btn btn-warning btn-sm">Actualizar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <br><br>
{% endblock%}