{% extends 'base.html' %}

{% block title %} Programas {% endblock%}

{% block content %} 
    <h1>Programas Ingenieria de Sistemas</h1>    
    <br>

    <form action="/vision">
        <label for="codcarrera">Codigo de Carrera</label><br>
        <input type="number" id="codcarrera" name="codcarrera"><br><br>
        <label for="descarrera">Descripcion Carrera</label><br>
        <input type="text" id="descarrera" name="descarrera" value="Digite la carrera"><br><br><br>
        <input type="submit" value="Agregar">
    </form>

{% endblock%}